HAPROXY_RUNTIME_SOCKET={{ service.env.HAPROXY_RUNTIME_SOCKET }}
HAPROXY_BACKEND_CONFIG_FOLDER={{ service.env.HAPROXY_BACKEND_CONFIG_FOLDER }}
API_URL={{ service.env.API_URL }}
RABBITMQ_URL={{ service.env.RABBITMQ_URL }}
BACKEND_TEMPLATE_FILE={{ service.env.BACKEND_TEMPLATE_FILE }}
LOG_FILE={{ service.env.LOG_FILE }}
SLACK_BOT_TOKEN={{ service.env.SLACK_BOT_TOKEN }}
SLACK_LOG_FILE={{ service.env.SLACK_LOG_FILE }}