LOGSTASH_INPUT_PATH={{ service.env.LOGSTASH_INPUT_PATH }}
ES_HOST={{ service.env.ES_HOST }}
EXTERNAL_IP={{ service.env.EXTERNAL_IP }}
INTERNAL_IP={{ service.env.INTERNAL_IP }}
HOSTNAME={{ service.env.HOSTNAME }}